body,html{
    width: 100%;
}
body iframe{
    max-width: 100%;
    overflow: hidden;
}
#mod_tenvideo_flash_player_1509970847353{
    max-width: 100%;
}
.myCourse-title{
    padding: 20px 0 20px;
    font-size: 18px;
}
.myCourse-icon-time{
    font-size: 12px;
}
.myCourse-icon{
    width: 40px;
    height: 20px;
    line-height: 19px;
    display: inline-block;
    text-align: center;
    border: 1px solid #333;
    font-size: 11px;
    border-radius: 4px;
}
.myCourse-time{
    padding: 0 10px;
}
.myCourse-digest{
    color: #999;
    padding: 20px 15px;
    font-size: 12px;
}
.myCourse-content-text{
    font-size: 15px;
    padding-bottom: 15px;
}
.myCourse-content-img{
    margin-bottom: 15px;
}
.myCourse-empty{
    padding-top: 130px;
}
.myCourse-empty-icon{
    width: 100px;
    margin: 0 auto;
}
.myCourse-empty-icon img{
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.myCourse-empty-text{
    margin-top: 8px;
}
.myCourse-original-link {
    hyphens: auto;
    word-break: break-all;
    word-wrap: break-word;
    padding: 15px 0 30px;
}
.myCourse-original-link-span{
    color: #666;
}
.myCourse img{
    max-width: 100%;
}
