.figure-list{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.figure-list:after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.figure-list li{
    list-style: none;
    float: left;
    width: 100%;
    margin: 0 2% 2% 0;
}
.figure-list figure{
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding-bottom: 100%; /* 关键就在这里 */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.figure-list figure a{
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}
.retail-goodsDetails-description{
    margin-top: 10px;
}
.daifu-carousel .carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
.daifu-carousel .carousel-indicators li {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: 1px 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fbfcfb\9;
    background-color: rgba(251,252,251,1);
    border: 1px solid #fbfcfb;
    border-radius: 4px;
}
.daifu-carousel .carousel-indicators .active {
    width: 14px;
    height: 7px;
    /*margin: 0;*/
    background-color: #fe4b4b;
    border: 1px solid #fe4b4b;
}
.daifu-wrap{
    background: #fff;
    padding:15px 12px 0;
}
.booking-wrap{
    padding-bottom: 10px;
}
.booking-meeting .booking-goodsDetails-time{
    padding-top: 20px;
}
.daifu-wrap-title{
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 0 12px;
}
.daifu-wrap-price-past{
    color: #999;
    font-weight: bold;
    font-size: 15px;
}
.daifu-wrap-price-now{
    font-weight: bold;
    font-size: 22px;
    padding: 5px 0 18px;
}
.daifu-goodsDetails-time-icon{
    margin-bottom: 2px;
}
.daifu-goodsDetails-time-icon img{
    width: 17px;
}
.daifu-goodsDetails-time{
    padding-bottom: 25px;
    font-size: 13px;
    color: #999;
}
.booking-goodsDetails-time{
    padding-bottom: 15px;
}
.daifu-goodsDetails-time .num{
    width: 20px;
    height: 16px;
    line-height: 16px;
    border-radius: 2px;
    background: #bfbfbf;
    color: #fff;
    display: inline-block;
    margin: 0 2px;
}
.lqy-btnBuy-now01 {
    width:28%;
    line-height: 50px;
    color: #fff;
}
.lqy-btnBuy-now02{
    background: #ffd9d9;
}
.lqy-btnBuy-now01.disabled {
    background: #dfdfdf;
}
.daifu-goodsDetails-img-icon{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.daifu-goodsDetails-img{
    margin: 55px 0 25px;
    background: #fff;
}
.daifu-goodsDetails-text{
    padding: 20px 0 80px;
    font-size: 14px;
    color: #999;
}
.daifu-goodsDetails-text .color_black{
    color: #222;
    font-weight: bold;
}
.return-top{
    width:70px;
    position: fixed;
    bottom: 80px;
    right: 0;
}
.daifu-editorMsg-content{
    font-size: 14px;
}
.daifu-editorMsg-name-price{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0 20px;
}
.daifu-editorMsg-mywords-btn{
    display: inline-block;
    padding: 4px 9px;
    border-radius: 5px;
    border: 1px solid #fe4b4b;
    color: #fe4b4b;
    margin: 5px 2px;
}
.daifu-editorMsg-mywords-btn.disabled{
    background: #fff;
    border: 1px solid #d7d7d7;
    color: #d7d7d7;
    font-weight: normal;
}
.daifu-editorMsg-mywords-btn.active{
    color: #fff;
    background: #fe4b4b;
    border: 1px solid #fe4b4b;
    font-weight: bold;
}
.daifu-editorMsg-btn{
    height: 50px;
    line-height: 50px;
}
.daifu-editorMsg-mywords{
    color: #666;
    font-weight: bold;
    padding: 0 18px;
}
.daifu-editorMsg-mywords-content{
    margin: 15px 0 60px;
    padding: 0 5px;
}
.daifu-editorMsg-mywords-content .mytext{
    padding:5px 8px;color:#666;width:100%;font-weight:bold;height: 120px;background: #fff;border: 1px solid #d7d7d7;border-radius: 5px
}
.daifu-editorMsg-btn:active,.daifu-editorMsg-btn:visited,.daifu-editorMsg-btn:link,.daifu-editorMsg-btn:focus{
    color: #fff;
}
.daifu-editorMsg-img{
    width:80%; height:80vw;overflow: hidden;margin: 15px auto 20px;
}
/*我的活动列表*/
.daifu-mylist{
    font-size: 14px;
}
.daifu-mylist-title{
    font-size: 13px;
    color: #666;
    height: 40px;
    line-height: 40px;
    background: #fff9e3;
    padding: 0 12px;
}
.daifu-mylist-title:active,.daifu-mylist-title:visited,.daifu-mylist-title:link,.daifu-mylist-title:focus{
    color: #666;
}
.daifu-mylist-title-icon img{
    width: 7px;
}
.daifu-mylist-menu{
    padding: 11px 0;
    background: #fff;
    border-bottom: 1px solid #d7d7d7;
}
.daifu-mylist-menu.active{
    color: #fe4b4b;
}
.daifu-mylist-menu-btn-icon{
    display: inline-block;
    width:0;
    border-width: 4px;
    border-color: #222 transparent  transparent transparent;
    border-style: solid;
    position: relative;top: 2px;
}
.daifu-mylist-menu.active .daifu-mylist-menu-btn-icon{
    border-color: #fe4b4b transparent  transparent transparent;
}
.daifu-mylist-navbar{
    padding: 0 20px;
    position: fixed;
    width: 100%;
    background: #fff;
}
.daifu-mylist-item{
    height: 40px;
    line-height: 40px;
}
.daifu-mylist-item.active{
    color: #fe4b4b;
    background: url("../images/icon_tickSelected.png") no-repeat right center;background-size: 18px
}
.daifu-mylist-content{
    padding: 83px 0 0;
    background: #fff;
}
.daifu-mylist-content-item{
    padding: 12px;
    border-bottom: 1px solid #d7d7d7;
}
.daifu-mylist-content-item.border-none{
    border: none;
}
.daifu-mylist-content-item-img{
    width: 92px;
    height: 92px;
    overflow: hidden;
}
.daifu-mylist-content-item-right{

}
.daifu-mylist-content-item-right .daifu-mylist-title-icon{
    margin-left: 10px;
}
.daifu-mylist-content-item-right01{
    margin-top: 10px;
}
.luo-phoneVerify-alert {
    top: 180px;
}
.buyforher-warning{
    background: #fe9393;
    color: #fff;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding-left: 12px;
}
.buyforher-warning-icon{
    width: 14px;
    height: 14px;
    margin-right: 10px;
}
/*我的活动列表end*/
/*----show Love----*/
.daifu-showLove{
    padding-top: 29px;
}
.daifu-showLove-msg{
    padding: 33px 15px 0;
    align-items: flex-start;
}
.daifu-showLove-msg-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow:hidden;
}
.daifu-showLove-msg-right{
    margin-left: 13px;
    position: relative;
    margin-top: 6px;
    font-size: 14px;
}
.daifu-showLove-msg-right .mytext{
    padding: 8px 11px;
    display: inline-block;
    border-radius: 16px;
    border: 1px solid #cecece;
}
.daifu-showLove-msg-right-icon{
    width: 10px;
    position: absolute;
    left: -6px;
    top: 6px;
}
.daifu-showLove-msg-editor{
    padding: 30px 0 0;
    font-size: 14px;
}
.daifu-showLove-msg-editor-title{
    padding-left: 15px;
    border-left: 4px solid #b5d8d1;
    margin-bottom: 22px;
    margin-left: 15px;
}
.daifu-showLove-msg-editor .daifu-editorMsg-mywords-content .mytext{
    border: dashed 1px #666;
}
.daifu-showLove-msg-editor .daifu-editorMsg-mywords-content {
    margin: 18px 0 0;
}
.daifu-showLove-msg-right-img{
    padding: 40px 15px 80px;
}
.daifu-showLove-msg-send{
    margin-left: 0;
    margin-right: 13px;
}
.daifu-showLove-img02{
    padding-top: 40px;
}
.daifu-showLove-msg-send-icon{
    left:inherit;
    right:-6px ;
    transform:rotateY(180deg);
    -ms-transform:rotateY(180deg); 	/* IE 9 */
    -moz-transform:rotateY(180deg); 	/* Firefox */
    -webkit-transform:rotateY(180deg); /* Safari 和 Chrome */
    -o-transform:rotateY(180deg); 	/* Opera */
}
/*----show Love end----*/
.daifu-buyforher{
    padding-top: 15px
}
.daifu-buyforher-msg{
    padding: 0 6%;font-size: 14px;align-items: flex-start;
}
.daifu-buyforher-msg-img{
    width: 35px;height: 35px;border-radius:50%;overflow: hidden;margin-right: 12px;
}
.daifu-buyforher-msg-text{
    padding-top: 10px;
}
.daifu-buyforher-msg-img01{
    width:86%; height:86vw;overflow: hidden;margin: 15px auto 0
}
