body{
    color: #222;
    /*background: #f3f3f5;*/
}
.body-position-fixed{
    position: fixed;
    width: 100%;
}
.com-line5-white{
    background: #fff;
    width: 100%;
    height: 5px;
}
.ovfHiden{overflow: hidden;height: 100%;}
.a_block{
    display: block;
    color: #222;
}
a:focus, a:hover, a:active {
    text-decoration: none;
}
.more_btn img{
    margin-bottom: 3px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    width: 100%;
}
.com-line-black{
    width: 100%;
    height: 1px;
    background: #f4f4f5;
}
.icon_img{
    text-align: center;
    padding: 30px 0;
    overflow: hidden;
}
.icon_img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.icon_img input{
    width: 100%;
    height: 150px;
    line-height: 150px;
    opacity: 0;
    position: absolute;top: 0;left: 0;
}
.com_clamp1{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.icon_jiantouR{
    display: inline-block;
}
.padding-0px{
    padding: 0;
}
.retail-activity{
    /*max-height: 201px;*/
    overflow: hidden;
}
.luo-topayBtn{
    width: 40%;
}
.border-bottom{
    border-bottom: 1px solid #d7d7d7;
}
.retail-activity img{
    width: 100%;
}
.retail-comverify{
    position: relative;
}
.retail-comverify label.error{
    color: #ff3737;
    position: absolute;
    font-weight: normal;
    bottom: -25px;
    left: 27px;
}
.retail-com-list{
    height: auto;
    line-height: 43px;
    background: #fff;
    border-bottom: solid 1px #d7d7d7 ;
}
.border-header-com{
    height: 40px;
    line-height: 40px;
}
.color-zby{
    color: #fe4b4b;
}
.bgcolor-zby{
    background-color: #fe4b4b\9;
    background-color: rgba(254,75,75,1);
    color: #fff;
}
.icon_clock{
    width: 12px;
    /*margin-bottom: 2px;*/
    margin-right: 5px;
}
.zby-btn{
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #fe4b4b;
    color: #fe4b4b;
}
.lqy-refundWay{
    background: #f8f8f8;
    height: 44px;
    line-height: 44px;
}
.size16{
    font-size: 16px;
}
.size12{
    font-size: 12px;
}
.com-interval{
    width: 100%;
    height: 10px;
    border-bottom: solid 1px #d7d7d7 ;
    background: #f3f3f5;
}
.float-left{
    float: left;
}

.disabled{
    background: #d7d7d7;
}
.pay-price-past{
    text-decoration: line-through;
}
@media (max-width: 365px) {
    .retail-com-list{
        height: 40px;
        line-height: 40px;
    }
    .border-header-com {
        height: 35px;
        line-height: 35px;
    }
    .retail-myorder-btn .btn {
        margin: 0 3px 3px 10px;
    }
    .com-interval{
        width: 100%;
        height: 5px;
    }
}
.icon28_common{
    width: 28px;
    height: 28px;
    display: inline-block;
    border-radius: 14px;
}
input::-webkit-input-placeholder{ /* WebKit browsers */
    color: #d7d7d7;
}
textarea::-webkit-input-placeholder{ /* WebKit browsers */
    color: #d7d7d7;
}
.icon17_common{
    width: 17px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
}
.icon_jiantouR-img{
    display: inline-block;
    margin-left: 5px;
    width: 7px;
    padding-bottom: 2px;
    /*margin-top: 16px;*/
}
.retail-goodsDetails-price-past {
    color: #666666;
    text-decoration: line-through;
    font-size: 15px;
}
/*浏览记录样式开始*/
.retail-goods-price-past{
    color: #666666;
    text-decoration: line-through;
}
.retail-borwsingHistory-search-wrap{
    width: 100%;
    padding-left: 9px;
    position: fixed;
    z-index: 1040;
    background: #f3f3f5;
}
.retail-borwsingHistory-search{
    width: 85%;
    height: 30px;
    border: 1px solid #dadbdf;
    border-radius: 5px;
    margin: 9px 0;
    background: #fff;
    position: relative;
}
.retail-borwsingHistory-search input{
    width: 85%;
    height: 28px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}
.retail-borwsingHistory-search img{
    width: 14px;
}
.retail-borwsingHistory-search-icon{
    width: 8%;
    text-align: right;
    display: inline-block;
    margin-right: 10px;
    height: 28px;
}
.retail-borwsingHistory-search-close{
    position: absolute;
    right: 15%;
    top: 2px;
    height: 30px;
    padding: 0 8px;
}
.retail-borwsingHistory-search-close img{
    width: 15px;
}
.retail-borwsingHistory-search-sort{
    width: 15%;
    padding: 11px 6%;
    height: 46px;
    display: inline-block;
    background: url("../images/icon_sort.png") center no-repeat;
    background-size: 20px;
}
.retail-borwsingHistory-search-sort.selected{
    background: url("../images/icon_sort_selected.png") center no-repeat;
    background-size: 20px;
}
.retail-borwsingHistory-menu{
    margin-top: 48px;
    /*background: #fff;*/
    border-top:1px solid #d7d7d7;
    /*border-bottom:1px solid #d7d7d7;*/
}
.retail-borwsingHistory-submenu{
    margin: 10px 0;
    border-left: 1px solid #dadbdf;
}
.retail-borwsingHistory-submenu.first{
    border-left: none;
}
.retail-borwsingHistory-submenu:first-child{
    border-left: none;
}
.retail-borwsingHistory-submenu.current{
    color: #fe4b4b;
    background: #fff;
}
.retail-com-model-goods-wrap{
    padding-left: 6px;
}
.retail-com-model-goods{
    padding-right: 6px;
    margin-bottom: 8px;
}
.retail-com-model{
    background: #fff;
}
.retail-com-model{
    overflow: hidden;
}
.retail-com-model-img{
    height: 200px;
    position: relative;
}
.retail-com-model-img img{
    height: 200px;
    position: absolute;
    left: -30%;
    right: -30%;
    top: 0;
    bottom: 0;
    margin:auto;
}
.retail-off-price-icon{
    width: 50px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    background: #ffa493;
    color: #fff;
    border-radius: 13px;
    position: absolute;
    top: 5px;
    left: 6px;
}
.retail-com-model-title{
    color: #666;
    padding: 10px 8px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: 45px;
}
.retail-com-model-price{
    padding: 6px 6px;
}
.retail-myInformation{
    background: #fff;
    margin: 20px 0 100px;
    border-top:1px solid #d7d7d7;
    border-bottom:1px solid #d7d7d7;
}
.retail-myInformation .retail-com-list{
    margin-left: 15px;
    padding-right: 15px;
}
.retail-myInformation .retail-com-list.border-none{
    border: none;
}
.retail-myInformation-icon{
    height: 70px;
    line-height: 70px;
}
.retail-myInformation-icon-img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.retail-goodsDetails-btn-login{
    height: 50px;
    line-height: 50px;
}
.retail-goodsDetails-btn-login [class*="col-"]{
    text-align: center;
    padding: 0;
}
.retail-goodsDetails-btn-login span,.retail-goodsDetails-btn-login a{
    display: inline-block;
}
.retail-goodsDetails-btn-login .myAccount{
    color: #b5b4b4;
    background: #eeeeee;
}
.retail-goodsDetails-btn-login .myCollect{
    color: #fcfbfb;
    background: #fcc1ad;
}
.retail-goodsDetails-btn-login .buying{
    color: #fcfbfb;
    width: 100%;
    background: #fe4b4b;
}
.retail-borwsingHistory-btn{
    height: 40px;
    line-height: 40px;
    /*margin-bottom: 7px;*/
}
/*浏览记录样式结束*/
/*缺货通知样式开始*/
.stockout-inform-input{
    padding: 15px 15px 25px;
}
.stockout-inform-input input{
    width: 100%;
    height: 40px;
    border: 1px solid #d7d7d7;
    padding-left: 5px;
}
.stockout-inform-input .retail-comverify label.error {
    font-size: 12px;
    bottom: -25px;
    left: 5px;
}
/*缺货通知样式end*/
/*商品分类样式开始*/
.retail-sort-alert{
    width: 100%;
    position: fixed;
    top: 47px;
    z-index: 1050;
    background:#f3f3f5;
}
.js_sort_alert.js_hide_com.retail-sort-alert{
    top: 88px;
}
.retail-sort-alert-wrap{
    width: 100%;
    height: 541px;
    position: relative;
    top: 1px;
}
.sort_bg02{
    position: absolute;
    width: 38px;
    bottom: 1px;
    right: 0;
}
.retail-sort-alert-title .item{
    border-bottom: solid 2px #f3f3f5;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
}
.retail-sort-alert-title .item.selected{
    border-bottom: solid 3px #fe4b4b;
}
.retail-sort-alert-menu-common{
    max-height: 500px;
    overflow:auto;
}
.retail-sort-alert-menu-common-item{
    height: 50px;
    line-height: 50px;
    position: relative;
    background: #fff;
    font-size: 12px;
}
.retail-sort-alert-menu-common-item .icon_jiantouR-img{
    position: absolute;
    right: 5px;
    top: 19px;
}
.retail-sort-alert-menu-common-item.selected{
    color: #fe4b4b;
}
.retail-sort-alert-menu-common-five{
    width: 20%;
}
/*商品分类样式结束*/
/*搜索纪录样式开始*/
.retail-search-record{
    height: 800px;
    background: #f3f3f5;
}
.retail-search-record-wrap{
    background: #fff;
    padding-left: 15px;
    border-bottom: 1px solid #d7d7d7;
}
.retail-search-record-item{
    height: 44px;
    line-height: 44px;
    position: relative;
    border-bottom: 1px solid #d7d7d7;
}
.retail-search-record-item-icon{
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 15px;
}
.retail-search-record-item-icon img{
    width: 14px;
 }
.retail-search-sort-cancel{
    position: absolute;
    width: 15%;
    display: inline-block;
    height: 44px;
    line-height: 44px;
    text-align: center;
    top: 0;
    right: 0;
    color: #666;
    font-size: 15px;
}
/*搜索纪录样式结束*/
/*商家二维码样式*/
.lqy-qrcode-wrap{
    padding: 0 30px 100px;
    /*display: box;              !* OLD - Android 4.4- *!*/
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    /* 09版 */
    -webkit-box-orient: horizontal;
    /* 12版 */
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
}
.lqy-qrcode-text{
    -webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;     /* OLD - Firefox 19- */
    -webkit-flex: 1;      /* Chrome */
    -ms-flex: 1;         /* IE 10 */
    flex: 1;              /* NEW, Spec - Opera 12.1, Firefox 20+ */
    padding: 17px 0;
}
.lqy-qrcode-img{
    width: 75px;
    height: 75px;
    text-align: right;
    margin-right: 15px;
}
@media (max-width: 350px) {
    .lqy-qrcode-img{
        margin-right: 0;
    }
}
@media (min-width: 400px) {
    .lqy-qrcode-img{
        margin-right: 40px;
    }
}
/*商家二维码样式end*/
/*底部按钮样式开始*/
.lqy-btnBuy-bottom{
    position: relative;
    background: #fff;
    height: 100%;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    /* 09版 */
    -webkit-box-orient: horizontal;
    /* 12版 */
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
}
.help-alert{
    position: absolute;
    bottom:35px;
    left: 11px;
}
.help-alert-text{
    height: 100%;
}
.help-alert-icon span{
    display: inline-block;
    width:0;
    border-width: 10px;
    border-color: #000 transparent  transparent transparent;
    border-style: solid;
    opacity: 0.8;
    margin-left: 6%;
}
.help-alert-text span{
    display: inline-block;
    background: #000;
    opacity: 0.8;
    color: #fff;
    padding: 8px 11px;
    border-radius: 5px;
}
.lqy-btnBuy-myAccount{
    width: 16%;
    text-align: center;
    padding-top: 8px;
    float: left;
    border-top: 1px solid #d7d7d7;
}
.kandan-buyBtn{
    padding-top: 7px;
    font-weight: bold;
}
.kandan-curPrice{
    font-size: 10px;
    font-weight: bold;
}
.kandan-buyNow{
    font-size: 15px;
}
.kandan-myAccount-btn{
    background: #ffd9d9;
    color: #ff6454;
    border: none;
}
/*插入一个store调节底部的样式*/
.kandan-myAccount-btn1{
    background: #ffd9d9;
    color: #ff6454;
    border: none;
}
/*插入一个store调节底部的样式end*/
.kandan-myAccount-btn a{
    color: #ff6454;
}
.lqy-btnBuy-myAccount-img{
    width: 18px;
}
.lqy-btnBuy-myAccount-text{
    font-size: 11px;
    padding-top: 2px;
    color: #222;
}
/*store中的icon大小*/
.lqy-btnBuy-myAccount-img1{
    width: 19px;
}
.lqy-btnBuy-myAccount-text1{
    font-size: 10px;
    color: #333;
}
/*store中的icon大小end*/
.lqy-btnBuy-now{
    -webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;     /* OLD - Firefox 19- */
    -webkit-flex: 1;      /* Chrome */
    -ms-flex: 1;         /* IE 10 */
    flex: 1;              /* NEW, Spec - Opera 12.1, Firefox 20+ */
    line-height: 50px;
    background: #fe4b4b;
    color: #fff;
}
.lqy-btnBuy-now .a_block{
    color: #fff;
}
.lqy-btnBuy-now.disabled{
    background: #d7d7d7;
    color: #fff;
}
/*底部按钮样式end*/
/*store中改的样式*/
.store-wholesale-bg{
    background: #fff;
    border-radius:2px;

}
.store-bottom{
    margin-bottom: 89px;
}
.auction-assass{
    display: inline-block;
    width: .08rem;
    height: .08rem;
    border-left:1px solid transparent;
    border-bottom:1px solid #222;
    border-top:1px solid transparent;
    border-right:1px solid #222;
    transform: rotate(-45deg);
}
/*store中改的样式end*/
.order-less-time{
    height: 58px;
    border-radius: 4px;
    background: #ee8c9a;
    color: #fff;
    font-size: 14px;
    text-align: center;
    display: table;
    width: 100%;
}
.order-less-time-wrap{
    background: #fff;
    padding: 8px 2%;
    width: 100%;
    height: 74px;
    box-sizing: border-box;
}
.order-less-time-center{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.change-order-way-rule{
    height: 30px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    background-color:#fe4b4b ;
}
.get-by-self-wrap{
    border:1px solid #d7d7d7;
    border-radius: 5px;
}
.get-by-self-wrap-active{
    border-color: #fe4b4b;
}

.refund-assass-wrap{
    flex: 1;
    text-align: right;
}
.refund-assass{
    display: inline-block;
    width: .08rem;
    height: .08rem;
    border-bottom: 1px solid #222;
    border-right: 1px solid #222;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    transform:rotate(-45deg);
    margin-right: 1px;
}
.get-by-self-wrap{
    padding:7px 15px;
    background: #fff;
    box-shadow: 0 2px 5px #d1d1d1;

}
.get-shop-way-wrap{
    background: #fff;
    padding: 15px 4%;
    font-size: 13px;
}
.get-by-self{
    height: 30px;
    line-height: 30px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.get-shop-way{
    font-size: 14px;
    color: #999999;
    border-bottom: 1px #999999 dashed;
    height: 35px;
    line-height: 35px;
    display: flex;
    margin-bottom: 10px;
}
.get-by-self-wrap-active .get-shop-way{
    color: #fe4b4b;
    font-size: 14px;
    border-color: #fe4b4b;
}
.get-by-self-wrap-active .refund-assass{
    border-bottom-color:#fe4b4b;
    border-right-color:#fe4b4b;
}
.discount-price-description{
    color: #999;
    font-size: 12px;
    margin-right: 5px;
    position: relative;
    top:-1px;
}
.shortfall{
    background-color: #fff;
    font-size: 12px;
}
.exclamation-point{
    display: inline-block;
    line-height: 17px;
    text-align: center;
    width: 20px;
    height: 20px;
    border:2px solid #d7d7d7;
    font-size: 14px;
    border-radius: 25px;
    margin-right: 5px;
}
.line-height-40px{
    height: 40px!important;
    line-height: 40px!important;
}
.new-send-way{
    border-bottom: none;
    margin-bottom: 0;
    height: 70px;
    line-height: 70px;
}
.border-bottom-none{
    border-bottom: none;
}
.border-none{
    border:none;
}
.toast-wrap{
    height: 30px;
    position: fixed;
    top:0;
    bottom:0;
    margin: auto 0;
    text-align: center;
    width: 100%;
}
.js_buying_btn{
    cursor: pointer;
}
@media screen and(max-width: 375px){
    .retail-com-model-price{
        font-size: 10px;
    }
}
